$primary: #610000;

* {
  font-family: 'Calibri', sans-serif;
}

.header {
  background-color: $primary;
  color: #fff;
  h1 {
    padding: 20px;
    margin: 0;
  }
}

.container {
  h3 {
    color: #303030;
  }
  .content {
    a {
      text-decoration: none;
      color: $primary;
      font-weight: bold;
      padding: 3px 5px;
      margin: 0 4px;
    }
    a:hover {
      text-decoration: none;
      font-style: italic;
    }
  }
}
