<html>
<head>
  <title>Udacity Catalog Project</title>
  <link rel='stylesheet' href="{{url_for('static', filename='../static/styles.min.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body class='container'>
    <header class='header'>
      <h1>Udacity Catalog Application</h1>
    </header>

    <section class='content'>
      <h1>{{ category.name }}</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li><strong> {{ message }} </strong></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <a href='{{url_for('newCategoryItem', category_id=category.id)}}' >Add New Game!</a>
      </br></br>

        {% for i in items %}

        <h3>{{i.name}}</h3>

        <p>{{i.description}}</p>

        <a href='{{url_for('editCategoryItem', category_id = category.id, item_id = i.id )}}' >Edit</a>

        <a href='{{url_for('deleteCategoryItem', category_id = category.id, item_id = i.id)}}' >Delete</a>
      </br>

      {% endfor %}
    </section>
  </body>
</html>
