<html>
  <head>
    <title>Udacity Catalog Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="878436137591-rio4q46ea5c53hkhn6rs7pglv568lv7h.apps.googleusercontent.com">
    <link rel='stylesheet' href="{{url_for('static', filename='../static/styles.min.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  </head>
  <body class='container'>
    <header class='row header'>
      <h1 class='col-md-12'>Udacity Catalog Application</h1>
    </header>
    <section class='signin'>
      <h1>Please Sign In</h1>
    </section>

    <div id='signinButton'>
      <span class='g-signin'
        data-scope='openid email'
        data-clientid='878436137591-rio4q46ea5c53hkhn6rs7pglv568lv7h.apps.googleusercontent.com'
        data-redirecturi='postmessage'
        data-accesstype='offline'
        data-cookiepolicy='single_host_origin'
        data-callback='signInCallback'
        data-approvalprompt='force'>
      </span>
    </div>
    <div id='result'></div>

    <script>
      function signInCallback(authResult) {
        if (authResult['code']) {
          // Hide the sign-in button now that the user is authorized
          $('#signinButton').attr('style', 'display: none');
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/catalog";
               }, 4000);

            } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
               }
            }

        }); } }
      </script>
  </body>
</html>
