<html>
<head>
  <title>Udacity Catalog Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href="{{url_for('static', filename='../static/styles.min.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body class='container'>
    <header class='row header'>
      <h1 class='col-md-8'>Udacity Catalog Application</h1>
      <a id='loginButton' class='col-md-4' href='{{url_for('showLogin')}}'>Login</a>
      <a id='logoutButton' class='col-md-4' href='#' style='display:none'}}>Logout</a>
    </header>

    <section class='content'>
      <h1>Add a new game!</h1>

      <form action="{{url_for('newCategoryItem', category_id=category_id )}}" method='post'>
        <p>Game Title:</p>
        <input type='text' size='30' name='name'>

        <input type='submit' value='Add'>
      </form>
    </section>
  </body>
</html>
